@using Coditech.ViewModel
@model ApplicationLicenseDetailsViewModel
@{
    ViewBag.Title = "Add Application License";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="container-fluid add-product-wrapper main-content-wrapper mt-4">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-center justify-content-center right-side">
            <div class="list-wrapper">
                <div class="align-items-center d-flex justify-content-between wrapper-header mb-3">
                    @if (Model.ApplicationLicenseId > 0)
                    {
                        <h1 class="text-center font-poppins">Update Application License</h1>
                    }
                    else
                    {
                        <h1 class="text-center font-poppins">Add Application License</h1>
                    }
                    <a class="btn btn-set-default add-new-product base-font-size" href="../@controllerName/List">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back
                    </a>
                </div>
                <div class="form-wrapper">
                    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @class = "form form-horizontal" }))
                    {
                        @Html.HiddenFor(x => x.ApplicationLicenseId)
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="product-name" class="form-label">Client Name<span class="required">*</span> :</label>
                                    @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ClientName, null, new { @class = "red" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="product-name" class="form-label">License Type<span class="required">*</span> :</label>
                                    @Html.TextBoxFor(x => x.LicenseType, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.LicenseType, null, new { @class = "red" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="product-name" class="form-label">Valid From Date<span class="required">*</span> :</label>
                                    @Html.TextBoxFor(x => x.ValidFromDate, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ValidFromDate, null, new { @class = "red" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="product-name" class="form-label">Valid Upto Date<span class="required">*</span> :</label>
                                    @Html.TextBoxFor(x => x.ValidUptoDate, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ValidUptoDate, null, new { @class = "red" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    @Html.LabelFor(x => x.IsActive, new { @class = "form-label" })
                                    <div class="form-check">
                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="align-items-center d-flex form-action justify-content-center">
                            <button type="submit" class="btn login-btn btn-set-default">Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>