@using Coditech.ViewModel
@model ApplicationLicenseDetailsListViewModel
@{
    ViewBag.Title = "Application License List";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="container-fluid listing-wrapper mt-4 main-content-wrapper">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-center justify-content-center right-side">
            <div class="list-wrapper">
                <div class="align-items-center d-flex justify-content-between wrapper-header mb-3">
                    <h1 class="text-center font-poppins">Application License List</h1>
                    <a class="btn btn-set-default add-new-product base-font-size" href="../@controllerName/Create">
                        <i class="fa fa-plus-circle"></i> Add New Application License
                    </a>
                </div>
                <div class="table-responsive table-wrapper">
                    <table class="table table-striped table-bordered" id="ProductTableId">
                        <thead>
                            <tr>
                                <th>Client Name</th>
                                <th>License Type</th>
                                <th>Domain Name</th>
                                <th>Valid From Date</th>
                                <th>Valid Upto Date</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model?.ApplicationLicenseDetailsList?.Count > 0)
                            {
                                foreach (ApplicationLicenseDetailsViewModel item in Model.ApplicationLicenseDetailsList)
                                {
                                    <tr>
                                        <td>@item.ClientName</td>
                                        <td>@item.LicenseType</td>
                                        <td>@item.DomainName</td>
                                        <td>@item.ValidFromDate</td>
                                        <td>@item.ValidUptoDate</td>
                                        <td>@item.IsActive</td>
                                        <td>
                                            <div class="align-items-center d-flex justify-content-around action-container">
                                                <a href="../@controllerName/Edit?applicationLicenseId=@item.ApplicationLicenseId" class="action-icon edit-product" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="../@controllerName/Delete?applicationLicenseId=@item.ApplicationLicenseId" class="action-icon delete-product" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
